/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3
#define GME 4

&lt {
    flavor = "balanced";
    tapping-term-ms = <220>;
    quick-tap-ms = <175>;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
};

/ {
    combos {
        compatible = "zmk,combos";

        ju-enter {
            bindings = <&kp ENTER>;
            key-positions = <19 7>;
        };

        fr-enter {
            bindings = <&kp ENTER>;
            key-positions = <16 4>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Default";
            bindings = <
&kp Q              &kp W  &kp E      &kp R      &kp T  &kp Y    &kp U  &kp I      &kp O       &kp P
&kp A              &kp S  &kp D      &kp F      &kp G  &kp H    &kp J  &kp K      &kp L       &kp SEMICOLON
&kp Z              &kp X  &kp C      &kp V      &kp B  &kp N    &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&ext_power EP_TOG  &mo 1  &kp SPACE  &kp SPACE  &mo 2  &kp END
            >;
        };

        left-finger {
            label = "LeftFinger";
            bindings = <
&kp Q      &kp W         &kp E           &kp R             &kp T         &kp HOME   &kp UP    &kp RIGHT  &kp O       &kp P
&kp A      &kp LEFT_GUI  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT   &kp DOWN  &kp END    &kp L       &kp SEMICOLON
&kp Z      &kp X         &kp C           &kp V             &kp B         &kp N      &kp M     &kp COMMA  &kp PERIOD  &kp SLASH
&kp SPACE  &none         &kp DELETE      &kp ESC           &none         &kp ENTER
            >;
        };

        right-finger {
            label = "RightFinger";
            bindings = <
&kp Q      &kp W  &kp E       &kp R        &kp T          &kp Y         &kp U              &kp I            &kp O          &kp P
&kp A      &kp S  &kp GRAVE   &kp PAGE_UP  &kp PAGE_DOWN  &kp LEFT_ALT  &kp RIGHT_CONTROL  &kp RIGHT_SHIFT  &kp RIGHT_GUI  &kp SEMICOLON
&kp Z      &kp X  &kp C       &kp V        &kp B          &kp N         &kp M              &kp COMMA        &kp PERIOD     &kp SLASH
&kp ENTER  &none  &kp DELETE  &kp ESC      &none          &kp END
            >;
        };

        flayer {
            label = "F";
            bindings = <
&kp Q      &kp W          &kp E       &kp R    &kp T       &kp Y    &kp U  &kp I      &kp O       &kp P
&kp A      &kp S          &kp D       &kp F    &kp G       &kp H    &kp J  &kp K      &kp L       &kp SEMICOLON
&kp Z      &kp X          &kp C       &kp V    &kp B       &kp N    &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp SPACE  &kp BACKSPACE  &kp DELETE  &kp ESC  &kp RETURN  &kp END
            >;
        };

        nrow_plus_layer {
            label = "NRowPlus";
            bindings = <
&kp Q      &kp W          &kp E       &kp R    &kp T       &kp Y    &kp U  &kp I      &kp O       &kp P
&kp A      &kp S          &kp D       &kp F    &kp G       &kp H    &kp J  &kp K      &kp L       &kp SEMICOLON
&kp Z      &kp X          &kp C       &kp V    &kp B       &kp N    &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp SPACE  &kp BACKSPACE  &kp DELETE  &kp ESC  &kp RETURN  &kp END
            >;
        };
    };
};
