/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3
#define GME 4

&lt {
    flavor = "balanced";
    tapping-term-ms = <220>;
    quick-tap-ms = <175>;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
};

/ {
    combos {
        compatible = "zmk,combos";

        ju-enter {
            bindings = <&kp ENTER>;
            key-positions = <19 7>;
        };

        fr-enter {
            bindings = <&kp ENTER>;
            key-positions = <16 4>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Default";
            bindings = <
&kp TAB         &kp Q  &kp W      &kp E    &kp R     &kp T
&kp Y           &kp U  &kp I      &kp O    &kp P     &kp BACKSPACE
&kp LEFT_ALT    &kp A  &kp S      &kp D    &kp F     &kp G
&kp H           &kp J  &kp K      &kp L    &kp SEMI  &kp RIGHT_ALT
&kp LEFT_SHIFT  &kp Z  &kp X      &kp C    &kp V     &kp B
&kp N           &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
            >;
        };

        upper {
            label = "Upper";
            bindings = <
&kp ESC         &kp NUMBER_1      &kp NUMBER_2       &kp NUMBER_3   &kp NUMBER_4      &kp NUMBER_0
&kp HOME        &kp UP_ARROW      &kp END            &kp MINUS      &kp EQUAL         &kp DELETE
&trans          &caps_word        &trans             &kp GRAVE      &kp PAGE_UP       &kp PAGE_DOWN
&kp LEFT_ARROW  &kp DOWN_ARROW    &kp RIGHT_ARROW    &kp PERIOD     &kp SINGLE_QUOTE  &trans
&trans          &kp NUMBER_5      &kp NUMBER_6       &kp NUMBER_7   &kp NUMBER_8      &kp NUMBER_9
&kp INSERT      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &kp KP_SLASH      &trans
            >;
        };

        kb_control_layer {
            label = "KBCTRL";
            bindings = <
&bootloader      &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3  &bt BT_SEL 4
&rgb_ug RGB_ON   &rgb_ug RGB_OFF  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &none         &bootloader
&sys_reset       &none            &none            &none            &none         &bt BT_NXT
&rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &none         &sys_reset
&bt BT_CLR_ALL   &bt BT_CLR       &none            &none            &none         &bt BT_PRV
&rgb_ug RGB_SPD  &rgb_ug RGB_SPI  &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &none         &studio_unlock
            >;
        };

        flayer {
            label = "F";
            bindings = <
&kp F11  &kp F1  &kp F2  &kp F3   &kp F4   &kp F10
&none    &trans  &trans  &kp F14  &kp F15  &trans
&kp F12  &trans  &trans  &trans   &trans   &to 2
&to 2    &trans  &trans  &kp F16  &kp F17  &trans
&trans   &kp F5  &kp F6  &kp F7   &kp F8   &kp F9
&trans   &trans  &trans  &trans   &trans   &trans
            >;
        };

        nrow_plus_layer {
            label = "NRowPlus";
            bindings = <
&trans            &kp NUMBER_1      &kp NUMBER_2      &kp NUMBER_3      &kp NUMBER_4      &kp NUMBER_5
&kp NUMBER_6      &kp NUMBER_7      &kp NUMBER_8      &kp NUMBER_9      &kp NUMBER_0      &trans
&trans            &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)
&kp LS(NUMBER_6)  &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp LS(NUMBER_0)  &trans
&trans            &trans            &trans            &trans            &trans            &trans
&trans            &trans            &trans            &trans            &trans            &trans
            >;
        };
    };
};
