/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3
#define GME 4

&lt {
    flavor = "balanced";
    tapping-term-ms = <220>;
    quick-tap-ms = <175>;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
};

/ {
    combos {
        compatible = "zmk,combos";

        ju-enter {
            bindings = <&kp ENTER>;
            key-positions = <19 7>;
        };

        fr-enter {
            bindings = <&kp ENTER>;
            key-positions = <16 4>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Default";
            bindings = <
&kp Q  &kp W  &kp E      &kp R      &kp T  &kp Y  &kp U  &kp I      &kp O       &kp P
&kp A  &kp S  &kp D      &kp F      &kp G  &kp H  &kp J  &kp K      &kp L       &kp SEMICOLON
&kp Z  &kp X  &kp C      &kp V      &kp B  &kp N  &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&none  &mo 1  &kp SPACE  &kp SPACE  &mo 2  &none
            >;
        };

        left-finger {
            label = "LeftFinger";
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp NUMBER_4      &kp NUMBER_0  &kp HOME    &kp UP            &kp RIGHT          &kp MINUS      &kp EQUAL
&trans        &kp LEFT_GUI  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT    &kp DOWN          &kp END            &kp DOT        &kp SINGLE_QUOTE
&kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7    &kp NUMBER_8      &kp NUMBER_9  &kp INSERT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &kp KP_SLASH
&trans        &none         &trans          &trans            &mo 3         &kp ENTER
            >;
        };

        right-finger {
            label = "RightFinger";
            bindings = <
&trans     &trans  &trans     &kp TAB      &kp ESCAPE     &kp DELETE    &kp BACKSPACE      &trans           &trans         &trans
&trans     &trans  &kp GRAVE  &kp PAGE_UP  &kp PAGE_DOWN  &kp LEFT_ALT  &kp RIGHT_CONTROL  &kp RIGHT_SHIFT  &kp RIGHT_GUI  &trans
&trans     &trans  &trans     &trans       &trans         &trans        &trans             &trans           &trans         &trans
&kp ENTER  &mo 3   &trans     &trans       &none          &trans
            >;
        };

        flayer {
            label = "F";
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4  &kp F10  &trans  &trans  &trans  &kp F14  &kp F15
&kp F11  &kp F12  &trans  &trans  &trans   &trans  &trans  &trans  &kp F16  &kp F17
&kp F5   &kp F6   &kp F7  &kp F8  &kp F9   &trans  &trans  &trans  &trans   &trans
&trans   &trans   &trans  &trans  &trans   &trans
            >;
        };

        kb_control_layer {
            label = "KBCTRL";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
